@keyframes lineAnimation{
    from{
        left: -20%;
    }
    to{
        left: 100%;
    }
}

.App{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    min-width: 400px;
}

.content-side{
    max-width: 100%;
}

.content-side h1{
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-side a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--main-color);
    transition: text-shadow 0.5s, color 0.5s;
}

.content-side a:hover{
    text-shadow: 0px 0px 10px var(--main-color);
    color: black;
}

.content-side nav{
    display: flex;
    column-gap: 30px;
}

.content-side{
    margin-top: 50px;
    margin-left: 50px;
    min-width: 100%;
}

.line{
    position: relative;
    min-height: 2px;
    max-width: calc(100% - 100px);
    background-color: white;
    margin: 10px 0px;
    overflow: hidden;
}

.pulse{
    position: absolute;
    min-width: 20%;
    min-height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,161,1) 50%, rgba(255,255,255,1) 100%);
    animation-name: lineAnimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.header-section{
    display: flex;
    justify-content: space-between;
}

.menu-btn{
    background-color: rgba(0, 0, 0, 0);
    min-width: 70px;
    cursor: pointer;
    margin-right: 88px;
    z-index: 1;
    border-color: rgba(0, 0, 0, 0);;
}

@media screen and (max-width: 490px) {
    .content-side h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 420px) {
    .content-side h1{
        font-size: 2rem;
    }

    .content-side a{
        font-size: 1.3rem;
    }
}